.login_form {
    background-color: silver;
    padding: 30px;
    position: absolute;
    left: 20%;
    right: 20%;
}

.all_users_table {
    align-content: center;
    background-color: white;
    padding: 30px;
    position: absolute;
    left: 20%;
    right: 20%;
}

.authorization_result {
    background-color: silver;
    padding: 30px;
    position: absolute;
    left: 20%;
    right: 20%;
}