 /*general*/

* {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: lighter !important;
    color: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.gbody {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: whitesmoke;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: navy;
}

td {
    text-align: center;
}

.ui-widget-header {
    background-color: white;
}


/*index page*/

.mega-title {
    background: -webkit-linear-gradient(red, purple); 
    -webkit-text-fill-color: transparent; 
    font-family: 'Knewave', cursive !important; 
    -webkit-background-clip: text; 
    font-size: 30pt;
}

.login_form {
    min-width: 500px; 
    left:0; 
    right:0; 
    margin-left: auto; 
    margin-right: auto; 
    top: 20%;  
    position: absolute; 
    width: 60%;  
}

.welcome_form {
    min-width: 300px; 
    left:0; 
    right:0; 
    margin-left: auto; 
    margin-right: auto; 
    top: 20%;  
    position: absolute; 
    width: 40%;  
}

.gradient-border-element {
    padding: 2rem;
    border-width: 0;
}

.module-border-wrap {
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
}

.login_color_scheme {
    background-color: white;
}


/*windows*/

#smallWindow {
    position: fixed;
    height: 400px;
    width: 800px;
    left: 0; right: 0; margin-left: auto; margin-right: auto;
    top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;
    border: 0;
    background: whitesmoke;   
    z-index: 3000;
    display: none;
}

#smallWindow_content {
    padding: 0;
}

.changing-image {
    width: 500px;
    height: 400px;
}

#smallWindow .ui-panelgrid-cell {
    padding: 0;
    border: 0;
    margin: 0;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    z-index: 2500;
    display: none;
}

.postItem {
    position: relative;
}

.postItem:hover {
    transform: scale(1.01);
    transition: 0.25s;
}

.imagebox {
    position: relative;
}

.imagebox a {
    margin-left:10px;
}

.ui-datalist .ui-datalist-content {
    border:0 none
}

.ui-datalist ul {
    padding: 0px 10px 0 20px;
    margin: 5px 0;
}

#alter-info-window {
    position: fixed;
    height: 400px;
    width: 800px;
    left: 0; right: 0; margin-left: auto; margin-right: auto;
    top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;
    border: 0;
    display: none;
    z-index: 4000;
}

#event-window {
    position: fixed;
    height: 400px;
    width: 500px;
    left: 0; right: 0; margin-left: auto; margin-right: auto;
    top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;
    border: 0;
    display: none;
    z-index: 4000;
}

#followers-list-window {
    position: fixed;
    height: 400px;
    width: 300px;
    left: 0; right: 0; margin-left: auto; margin-right: auto;
    top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;
    border: 0;
    display: none;
    z-index: 4000;
}

#followings-list-window {
    position: fixed;
    height: 400px;
    width: 300px;
    left: 0; right: 0; margin-left: auto; margin-right: auto;
    top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;
    border: 0;
    display: none;
    z-index: 4000;
}

.fff {
    position: fixed;
    z-index: 1000000;
    overflow: visible;
}


/*bio panel*/

.bio-panel .ui-widget-content {
    background-color: whitesmoke;
}

.value {
    font-weight: bold;
}

.ui-autocomplete-itemtip {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.main-menu {
    position: fixed;
    width: 100%;
    height: 40px;
    top:0;
    left: 0;
    background-color: white;
    padding: 8px;
    z-index: 200;
    color: black;
    font-size: 15px;
    color: black;
    margin: 0;
    border-width: 0;
    display: block;
}

#postPanel {
    top: 70px;
    z-index: 5;
}

#kek:hover {
    transform: scale(0.99);
    transition: 0.2s;
}

#bioPanel {
    position: relative;
    margin-bottom: 20px;
    z-index: 100;
    left: 0;
    height: 120px;
    border-width: 0;
    background-color: whitesmoke;
    width: 836px !important;
}


/*image*/

.thumbnail {
    z-index: 50;
    width: 256px;
    height: 256px;
    margin: 10px;
    cursor: zoom-in;
}

.thumbnail:hover {
    opacity: 0.9;
}

.thumbnail-large {
    z-index: 50;
    width: 500px;
    height: 400px;
    margin: 10px;
    cursor: zoom-in;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: whitesmoke;
  text-align: center;
  border: 0;
}

.ui-panelgrid .ui-panelgrid-cell  {
    padding: 0;
    margin: 0;
    border: 0;
    text-align: left;
}

.ui-widget-content {
    border: 0;
}

#commentsPanelID_content {
    padding: 0;
}

.ui-datatable tbody td {
    background-color: white;
    border-color: white;
}

.word-wrap-text {
    word-wrap: break-word;
    display: block;
    width: 200px;
    height: 50px;
    overflow: auto;
}

.ui-selectonemenu-items-wrapper {
    position: fixed;
    z-index: 1000000;
    overflow: visible;
}
.ui-selectonemenu-items ui-selectonemenu-list ui-widget-content ui-widget ui-corner-all ui-helper-reset {
      position: fixed;
    z-index: 1000000;
    overflow: visible;
}

.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}

.ui-datatable.borderless thead th {
    display: none;
}

.borderless .ui-state-default,
.borderless .ui-widget-content .ui-state-default,
.borderless .ui-widget-header .ui-state-default {
    border: none;
}

.comment-button {
    background-image: url("#{resource['images/icons/comment.png']}") !important;
    background-size: 20px;
    height: 20px !important;
    width: 20px !important;
    margin: auto !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

.like-button {
    background-image: url("#{resource['images/icons/like.png']}") !important;
    background-size: 20px;
    height: 20px !important;
    width: 20px !important;
    margin: auto !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

.dislike-button {
    background-image: url("#{resource['images/icons/dislike.png']}") !important;
    background-size: 20px;
    height: 20px !important;
    width: 20px !important;
    margin: auto !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}