            /*fileupload*/

#create-post-window {
    position: fixed;
    height: 450px;
    width: 800px;
    left: 0; right: 0; margin-left: auto; margin-right: auto;
    top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;
    border: 0; 
    z-index: 3000;
    display: none;
    padding: 0;
    background-color: white;
}

.upload-form {
    position: absolute;
    top: 100px; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 40%; 
    min-width: 400px;
}

#panpan {
    display: none;
}

.ui-panelgrid .ui-panelgrid-cell {
    border: 0 !important;
}

.ui-widget-header {
    border: 0 !important;
}

#change-avatar-window {
    position: fixed;
    height: 450px;
    width: 800px;
    left: 0; right: 0; margin-left: auto; margin-right: auto;
    top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;
    border: 0; 
    z-index: 3000;
    display: none;
    padding: 0; 
    background-color: white;
}